body {margin: 0;	
}

#contenant {color: rgb(255, 255, 255);
	background-color: rgb(10, 10, 10);;
}
h1 {text-align: center;
    margin: 0%;
	 }
	 #footer .container {
		padding: 3em 1em 1em 1em ;
	}

	#footer footer .copyright {
		line-height: inherit;
	}

		#footer footer .copyright li {
			border-left: 0;
			display: block;
			margin: 0;
			padding: 0;
		}